.i1
{
  margin-left: 100px;
  margin-top:20px;
}
.s1
{
 margin-left: 40px;   
}
h5{
    display: inline;
    margin-left: 650px;
}
.hr
{
    margin-left: 100px;
    margin-right: 100px;
}
/*@media screen and (max-width:700px){
  .i1{
    display: none;

  }
  .s1{
    display: none;
  }
  .h5
  {
    margin-left: 0;
  }
  
}*/

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {



    
    .i1{
      display: none;
    }
    .s1{
      display: none;
    }
    .h5
    {
      display: none;
    }
}